$color-dark-grey: #1b1b1b;
$color-medium-grey: #808080;
$color-light-grey: #bab9b9;
$color-lighter-grey: #dadada;
$color-white: #ffffff;
:export {
    color-dark-grey: $color-dark-grey;
    color-medium-grey: $color-medium-grey;
    color-light-grey: $color-light-grey;
    color-white: $color-white;
}